{% extends 'layout.html' %}
{% block bodyclass %}page page_theme_contact{% endblock %}
{% block main %}
<section class="entry">
  <div class="l-wrapper">
    <div class="l-layout">
      <div class="l-layout__item s-marketing 3/5@lap+">
        <div class="s-marketing__title">Свяжитесь со мной</div>

        <p class="lead">Если вы, так же как и я, увлечены своим делом,
           <strong class="text text_hl_project">вместе</strong> мы
           сможем создать отличный продукт.</p>

        <p><strong>Свяжитесь со мной</strong>, если у вас есть какие-либо
           вопросы или вы хотите обсудить детали сотрудничества.</p>
      </div>

      <div class="l-layout__item s-marketing s-marketing--rev 2/5@lap+">
        <div class="s-marketing__title">Контакты</div>

        <ul class="nav nav_vertical contact-list">
          <li class="nav__item contact-list__item">
            <a class="nav__link contact-list__link link link_dir_rtl" href="tel:+375293358679" title="Позвоните мне">+375 29 335-86-79</a>
          </li>

          <li class="nav__item contact-list__item">
            <a class="nav__link contact-list__link link link_dir_rtl" href="mailto:vital.kudzelka@gmail.com?subject=Я хочу хороший сайт"
               title="Напишите мне письмо">vital.kudzelka@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block contentinfo %}
<footer class="hero">
  <div class="l-wrapper">
    {{ b.social_nav() }}
  </div>
</footer>
{% endblock %}
{% block contentinfoextra %}{% endblock %}
