{% extends 'layout.html' %}
{% block bodyclass %}page page_theme_portfolio{% endblock %}
{% block pagehead %}
<header class="hero standfirst-hero" role="heading">
  <div class="l-wrapper">
    <h1 class="hero__title js-banner">
      Я <strong class="text text_theme_inherit">проектирую</strong>
      интерфейсы и <strong class="text text_theme_inherit">разрабатываю</strong>
      сайты, сервисы и веб-приложения, которыми
      <strong class="text text_theme_inherit">удобно и приятно</strong>
      пользоваться.</h1>

    <div class="hero__content">
      <a class="link link_dir_ltr hero__link js-scrollable" href="/#works"
         title="Посмотреть избранные проекты">Избранные проекты</a>
    </div>
  </div>
</header>
{% endblock %}
{% block main %}
<section class="entry" id="works">
  <article class="project project_mf">
    <div class="l-wrapper">
      <div class="project__info">
        <div class="l-layout">
          <div class="l-layout__item s-marketing 3/4@lap+">
            <div class="s-marketing__title">Проект</div>

            <p class="lead">
               <strong class="project__name">Артём Леонидович</strong> — талантливый
               репетитор по математике и физике с современным подходом к
               обучению.</p>

            <p>Кроме создания <strong>яркого и запоминающегося
               образа</strong>, в мою задачу входила разработка простой и
               удобной системы для обработки заявок на обучение и мониторинга
               успеваемости учеников.</p>

            <a href="{{ url_for('.work', slug='artsiom-kozlovskiy-site') }}"
               class="link link_dir_ltr project__link" title="Читать статью полностью">Читать дальше</a>
          </div>

          <div class="l-layout__item s-marketing 1/4@lap+">
            <div class="s-marketing__title">Детали</div>

            <div class="project__tagline">
              <span class="project__tag">Концепция</span>
              <span class="project__tag">Проектирование</span>
              <span class="project__tag">Дизайн интерфейса</span>
              <span class="project__tag">Разработка</span>
            </div>
          </div>
        </div>
      </div>

      <div class="project__showcase showcase showcase_truncate showcase_side-by-side">
        {% call b.browser() %}
          {{ b.gallery_cell('artsiom-kozlovskiy-site/landing-page_medium.png') }}
        {% endcall %}

        {% call b.mobile() %}
          {{ b.gallery_cell('artsiom-kozlovskiy-site/landing-page_mobile.png') }}
        {% endcall %}
      </div>
    </div>
  </article>

  <article class="project project_vs">
    <div class="l-wrapper">
      <div class="project__info">
        <div class="l-layout">
          <div class="l-layout__item s-marketing 3/4@lap+">
            <div class="s-marketing__title">Проект</div>

            <p class="lead">
               <strong class="project__name">&laquo;Ваши&nbsp;Суши&raquo;</strong>&nbsp;&mdash;
               магазин суши и&nbsp;другой азиатской кухни с&nbsp;доставкой
               по&nbsp;городу Молодечно.

            <p>Для компании создан интернет-магазин, посетителей которого
               встречает яркая витрина из&nbsp;доступных блюд и&nbsp;реклама
               действующих акций.
            </p>

            <a href="{{ url_for('.work', slug='vashi-sushi-shop') }}"
               class="link link_dir_ltr project__link" title="Читать статью полностью">Читать дальше</a>
          </div>

          <div class="l-layout__item s-marketing 1/4@lap+">
            <div class="s-marketing__title">Детали</div>

            <div class="project__tagline">
              <span class="project__tag">Концепция</span>
              <span class="project__tag">Проектирование</span>
              <span class="project__tag">Дизайн интерфейса</span>
              <span class="project__tag">Разработка</span>
            </div>
          </div>
        </div>
      </div>

      <div class="project__showcase showcase showcase_truncate showcase_side-by-side">
        {% call b.browser() %}
          {{ b.gallery_cell('vashi-sushi/menu_medium.png') }}
        {% endcall %}

        {% call b.mobile() %}
          {{ b.gallery_cell('vashi-sushi/menu_mobile.png') }}
        {% endcall %}
      </div>
    </div>
  </article>

</section>
{% endblock %}
