{% extends 'layout.html' %}
{% block bodyclass %}page page_theme_projects{% endblock %}
{% block pagehead %}
<header class="hero hero_p_s hero_align_l i-am-a-hero" role="heading">
  <div class="l-wrapper">
    <h1 class="hero__title js-banner">
      Я специализируюсь на <strong class="text text_theme_inherit">разработке
      сайтов и <span class="text text_nowrap">веб-приложений</span></strong> и их
      оптимизации под различные устройства.</h1>

    <div class="hero__content">
      <a class="link link_dir_ltr hero__link js-flyout" href="#">Подробнее</a>

      <div class="flyout">
        <p>У меня есть опыт разработки с использованием различных языков и
           инструментов, но в основном я использую
           <code class="text text_theme_inherit">python</code>
           (<code class="text text_theme_inherit">Flask</code>/<code
             class="text text_theme_inherit">Django</code>),
           <code class="text text_theme_inherit">javascript</code> и
           <code class="text text_theme_inherit">CSS</code>
           (<code class="text text_theme_inherit">less</code>/<code
             class="text text_theme_inherit">SASS</code>/<code
             class="text text_theme_inherit">Stylus</code>).

           Также у меня есть понимание различных методологий разработки,
           включая <code class="text text_theme_inherit">SMACSS</code>,
           <code class="text text_theme_inherit">OOCSS</code> и
           <code class="text text_theme_inherit">BEM</code>.</p>

        <p>Если вас интересуют технические детали, то с примерами моих работ вы
           можете ознакомиться на <a class="link link_dir_ltr" href="https://github.com/vitalk/">GitHub</a>.</p>
      </div>
    </div>
  </div>
</header>
{% endblock %}
{% block main %}
<section class="entry" id="works">
  <article class="project project_mf">
    <div class="l-wrapper">
      <div class="project__info">
        <div class="l-layout">
          <div class="l-layout__item s-marketing 3/4@lap+">
            <div class="s-marketing__title">Проект</div>

            <p class="lead">
               <strong class="project__name">Артём Леонидович</strong> — талантливый
               репетитор по математике и физике с современным подходом к
               обучению.</p>

            <p>Кроме создания <strong>яркого и запоминающегося
               образа</strong>, в мою задачу входила разработка простой и
               удобной системы для обработки заявок на обучение и мониторинга
               успеваемости учеников.</p>

            <a href="{{ url_for('.work', slug='artsiom-kozlovskiy-site') }}"
               class="link link_dir_ltr project__link" title="Читать статью полностью">Читать дальше</a>
          </div>

          <div class="l-layout__item s-marketing 1/4@lap+">
            <div class="s-marketing__title">Детали</div>

            <div class="project__tagline">
              <span class="project__tag">Концепция</span>
              <span class="project__tag">Проектирование</span>
              <span class="project__tag">Дизайн интерфейса</span>
              <span class="project__tag">Разработка</span>
            </div>
          </div>
        </div>
      </div>

      <div class="project__showcase project__showcase_truncate project__showcase_side-by-side">
        {% call b.browser() %}
          <img src="{{ url_for('static', filename='images/artsiom-kozlovskiy-site/landing-page--1.png') }}" alt="">
        {% endcall %}

        {% call b.mobile() %}
          <img src="{{ url_for('static', filename='images/artsiom-kozlovskiy-site/landing-page--2.png') }}" alt="">
        {% endcall %}
      </div>
    </div>
  </article>

  <article class="project project_oss">
    <div class="l-wrapper">
      <div class="project__info">
        <div class="l-layout">
          <div class="l-layout__item s-marketing 3/4@lap+">
            <div class="s-marketing__title">Проект</div>

            <p class="lead">
               <strong class="project__name">Flask-Styleguide</strong> — открытый
               под свободной лицензией, инструмент, который
               позволяет автоматически визуализировать компоненты,
               используемые в приложении.</p>

            <p>Данный инструмент помогает создать, и главное, поддерживать в
               актуальном состоянии, библиотеку компонентов для любого сайта
               или веб-приложения.</p>

            <a href="{{ url_for('.work', slug='flask-styleguide') }}"
               class="link link_dir_ltr project__link" title="Читать статью полностью">Читать дальше</a>
          </div>

          <div class="l-layout__item s-marketing 1/4@lap+">
            <div class="s-marketing__title">Детали</div>

            <div class="project__tagline">
              <span class="project__tag">OSS</span>
              <span class="project__tag">Разработка</span>
              <span class="project__tag">Поддержка</span>
            </div>
          </div>
        </div>
      </div>

      <div class="project__showcase project__showcase_truncate project__showcase_side-by-side">
        {% call b.browser() %}
          <img src="{{ url_for('static', filename='images/flask-styleguide/living-styleguide--1.png') }}" alt="">
        {% endcall %}

        {% call b.mobile() %}
          <img src="{{ url_for('static', filename='images/flask-styleguide/living-styleguide--2.png') }}" alt="">
        {% endcall %}
      </div>
    </div>
  </article>

  <article class="project project_woogle">
    <div class="l-wrapper">
      <div class="project__info">
        <div class="l-layout">
          <div class="l-layout__item s-marketing 3/4@lap+">
            <div class="s-marketing__title">Проект</div>

            <p class="lead">
               <strong class="project__name">Woogle</strong> — современный
               сервис аренды недвижимости в Минске, с <strong>удобным поиском
               и уведомлениями</strong> о новых объявлениях.</p>

            <p>Каждый, кто хоть раз пытался снять квартиру или комнату, знает
               на сколько это утомительный процесс. Когда я приступал к
               разработке <strong>Woogle</strong>, мне хотелось исправить эту
               ситуацию.</p>

            <a href="{{ url_for('.work', slug='woogle') }}"
               class="link link_dir_ltr project__link" title="Читать статью полностью">Читать дальше</a>
          </div>

          <div class="l-layout__item s-marketing 1/4@lap+">
            <div class="s-marketing__title">Детали</div>

            <div class="project__tagline">
              <span class="project__tag">Проектирование</span>
              <span class="project__tag">Дизайн интерфейса</span>
              <span class="project__tag">Разработка</span>
              <span class="project__tag">Поддержка</span>
            </div>
          </div>
        </div>
      </div>

      <div class="project__showcase project__showcase_truncate project__showcase_side-by-side">
        {% call b.browser() %}
          <img src="{{ url_for('static', filename='images/woogle/landing-page--1.png') }}" alt="">
        {% endcall %}

        {% call b.mobile() %}
          <img src="{{ url_for('static', filename='images/woogle/landing-page--2.png') }}" alt="">
        {% endcall %}
      </div>
    </div>
  </article>

</section>
{% endblock %}
