{% extends 'layout.html' %}
{% block page_title %}Woogle - современный сервис по поиску жилья в Минске{% endblock %}
{% block bodyclass %}page page--woogle{% endblock %}
{% block pagehead %}
<header class="hero hero--small hero--left i-am-a-hero" role="banner">
  <div class="l-wrapper">
    <h1 class="hero__title js-banner" role="heading">
       Я решаю <strong class="highlight highlight--project">сложные
       задачи</strong> за счёт <strong class="highlight highlight--project">
       простых</strong> и удобных <strong class="highlight
       highlight--project">интерфейсов</strong>.</h1>
  </div>
</header>
{% endblock %}
{% block main %}
{{ b.hello_woogle() }}
{% endblock %}
{% block contentinfo %}
<nav class="hero pagination">
  <div class="l-wrapper">
    <a href="{{ url_for('.work', slug='flask-styleguide') }}">
      <h3 class="pagination__subtitle">Следующий проект</h3>
      <h1 class="pagination__title">Flask-Styleguide</h1>
      <p class="pagination__text">Простой способ создать библиотеку компонентов
         для любого сайта или веб-приложения.</p>
    </a>
  </div>
</nav>

<section class="hero hero--responsive thank-you-hero">
  <div class="l-wrapper">
    <h1 class="hero__title">Спасибо</h1>
    <p>За то что уделили время на просмотр моих работ. Если вам что-то
       понравилось или у вас есть какие-либо вопросы, то <strong>свяжитесь со
       мной</strong> любым удобным способом.</p>

    {{ b.social_nav() }}
  </div>
</section>
{% endblock %}
