{% macro menu(menu) %}
  {% for item in menu %}
    {% set index = loop.index0 %}
    <li class="nav__item"><a
      {%- for attr, values in kwargs.items() %}
        {%- if attr == 'class' %}
          {{ attr }}="nav__link {{ values[index] }}{% if item.is_active %} is-active{% endif %}"
        {%- else %}
          {{ attr }}="{{ values[index] }}"
        {%- endif %}
      {%- endfor %} href="{{ item.href }}">{{ item.text }}</a></li>
  {% endfor %}
{% endmacro %}

{% macro gallery_cell(filename, alt=none) %}
  <img src="{{ url_for('static', filename='images/'~filename) }}" class="gallery__cell" alt="{{ alt }}">
{% endmacro %}

{% macro browser() %}
<div class="browser showcase__browser">
  <div class="browser__panel">
    <div class="browser__dots">
      <div class="browser__dot"></div>
      <div class="browser__dot"></div>
      <div class="browser__dot"></div>
    </div>
  </div>
  <div class="browser__workspace">
    {{ caller() }}
  </div>
</div>
{% endmacro %}

{% macro mobile() %}
<div class="mobile showcase__mobile">
  <div class="mobile__screen">
    {{ caller() }}
  </div>
  <div class="mobile__case"></div>
</div>
{% endmacro %}

{% macro vashi_sushi() %}
  <article class="project project_vs">
    <div class="l-wrapper">
      <div class="project__info">
        <div class="l-layout">
          <div class="l-layout__item s-marketing 3/4@lap+">
            <div class="s-marketing__title">Проект</div>

            <p class="lead">
               <strong class="project__name">«Ваши Суши»</strong> —
               магазин суши и другой азиатской кухни с доставкой
               по городу Молодечно.
            </p>

            <p>Для компании создан интернет-магазин, посетителей которого
               встречает яркая витрина из доступных блюд и реклама
               действующих акций.
            </p>
          </div>

          <div class="l-layout__item s-marketing 1/4@lap+">
            <div class="s-marketing__title">Детали</div>

            <div class="project__tagline">
              <span class="project__tag">Концепция</span>
              <span class="project__tag">Проектирование</span>
              <span class="project__tag">Дизайн интерфейса</span>
              <span class="project__tag">Разработка</span>
            </div>
          </div>
        </div>
      </div>

      <div class="project__showcase showcase showcase_side-by-side">
        {% call browser() %}
          <div class="gallery js-gallery">
            {{ gallery_cell('vashi-sushi/menu_size_m.jpg') }}
            {{ gallery_cell('vashi-sushi/contact-page_size_m.jpg') }}
          </div>
        {% endcall %}

        {% call mobile() %}
          <div class="gallery js-gallery">
            {{ gallery_cell('vashi-sushi/menu_mobile.jpg') }}
            {{ gallery_cell('vashi-sushi/contact-page_mobile.jpg') }}
          </div>
        {% endcall %}
      </div>

      <div class="project__info">
        <div class="l-layout">
          <div class="l-layout__item s-marketing 3/4@lap+">
            <div class="s-marketing__title">Оформление заказа</div>

            <p>Посетители получают доступ к магазину <strong>с любых
               устройств</strong>, благодаря чему, они быстрее оформляют
               заказы и легче ориентируются среди множества доступных блюд.</p>
          </div>
        </div>
      </div>

      <div class="project__showcase showcase showcase_side-by-side">
        {% call browser() %}
          <div class="gallery js-gallery">
            {{ gallery_cell('vashi-sushi/ura-maki_size_m.jpg') }}
            {{ gallery_cell('vashi-sushi/checkout-shipping_size_m.png') }}
            {{ gallery_cell('vashi-sushi/checkout-confirmation_size_m.png') }}
          </div>
        {% endcall %}

        {% call mobile() %}
          <div class="gallery js-gallery">
            {{ gallery_cell('vashi-sushi/ura-maki_mobile.jpg') }}
            {{ gallery_cell('vashi-sushi/checkout-shipping_mobile.png') }}
            {{ gallery_cell('vashi-sushi/checkout-confirmation_mobile.png') }}
          </div>
        {% endcall %}
      </div>
    </div>
  </article>
{% endmacro %}

{% macro artsiom_site() %}
  <article class="project project_mf">
    <div class="l-wrapper">
      <div class="project__info">
        <div class="l-layout">
          <div class="l-layout__item s-marketing 3/4@lap+">
            <div class="s-marketing__title">Проект</div>

            <p class="lead">
               <strong class="project__name">Артём Леонидович</strong> —
               талантливый репетитор по математике и физике с современным
               подходом к обучению.</p>

            <p>Кроме создания <strong>яркого и запоминающегося
               образа</strong>, его сайт предоставляет подробную информацию
               для родителей об учебном процессе и подходе, используемом
               в обучении детей.
          </div>

          <div class="l-layout__item s-marketing 1/4@lap+">
            <div class="s-marketing__title">Детали</div>

            <div class="project__tagline">
              <span class="project__tag">Концепция</span>
              <span class="project__tag">Проектирование</span>
              <span class="project__tag">Дизайн интерфейса</span>
              <span class="project__tag">Разработка</span>
            </div>
          </div>
        </div>
      </div>

      <div class="project__showcase showcase showcase_side-by-side">
        {% call browser() %}
          <a href="//matfiz.by" target="_blank" title="Перейти на сайт">
            {{ gallery_cell('artsiom-kozlovskiy-site/landing-page_size_m.png') }}
          </a>
        {% endcall %}
        {% call mobile() %}
          <a href="//matfiz.by" target="_blank" title="Перейти на сайт">
            {{ gallery_cell('artsiom-kozlovskiy-site/landing-page_mobile.png') }}
          </a>
        {% endcall %}
      </div>

      <div class="project__info">
        <div class="l-layout">
          <div class="l-layout__item s-marketing 3/4@lap+">
            <div class="s-marketing__title">Мониторинг успеваемости</div>

            <p>Чтобы <strong>облегчить взаимодействие</strong> между
               преподавателем и родителями, была разработана система
               мониторинга успеваемости учеников. Она позволяет уведомлять
               родителей об успеваемости своих детей и полностью
               контролировать учебный процесс.</p>

            <p>Вся разработка велась с учётом того, что пользоваться сайтом
               должно быть <strong>одинаково удобно</strong> с любых
               устройств, независимо от размера экрана.</p>
          </div>
        </div>
      </div>

      <div class="project__showcase showcase showcase_side-by-side">
        {% call browser() %}
          <div class="gallery js-gallery">
            {{ gallery_cell('artsiom-kozlovskiy-site/scholars-list_size_m.png') }}
            {{ gallery_cell('artsiom-kozlovskiy-site/scholar-page_size_m.png') }}
            {{ gallery_cell('artsiom-kozlovskiy-site/accepted-requests_size_m.png') }}
          </div>
        {% endcall %}

        {% call mobile() %}
          <div class="gallery js-gallery">
            {{ gallery_cell('artsiom-kozlovskiy-site/scholars-list_mobile.png') }}
            {{ gallery_cell('artsiom-kozlovskiy-site/scholar-page_mobile.png') }}
            {{ gallery_cell('artsiom-kozlovskiy-site/accepted-requests_mobile.png') }}
          </div>
        {% endcall %}
      </div>
    </div>
  </article>
{% endmacro %}

{% macro flask_styleguide() %}
  <article class="project project_oss">
    <div class="l-wrapper">
      <div class="project__info">
        <div class="l-layout">
          <div class="l-layout__item s-marketing 3/4@lap+">
            <div class="s-marketing__title">Проект</div>

            <p class="lead">
               <strong class="project__name">Flask-Styleguide</strong> — открытый
               под свободной лицензией, инструмент, который
               позволяет автоматически визуализировать компоненты,
               используемые в приложении.</p>

            <p>С ростом популярности <strong>модульного подхода</strong> при
               разработке интерфейса, растёт и потребность в создании и
               поддержании в актуальном состоянии библиотеки компонентов.

            <p>Данный инструмент помогает создать, и главное, поддерживать
               в актуальном состоянии, библиотеку компонентов для любого сайта
               или веб-приложения.</p>
          </div>

          <div class="l-layout__item s-marketing 1/4@lap+">
            <div class="s-marketing__title">Детали</div>

            <div class="project__tagline">
              <span class="project__tag">OSS</span>
              <span class="project__tag">Разработка</span>
              <span class="project__tag">Поддержка</span>
            </div>
          </div>
        </div>
      </div>

      <div class="project__showcase showcase showcase_side-by-side">
        {% call browser() %}
          {{ gallery_cell('flask-styleguide/living-styleguide_size_m.png') }}
        {% endcall %}

        {% call mobile() %}
          {{ gallery_cell('flask-styleguide/living-styleguide_mobile.png') }}
        {% endcall %}
      </div>
    </div>
  </article>
{% endmacro %}
