{% import 'blocks.html' as b %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    {% block preload %}{% endblock %}

    <title>{% block page_title %}Виталий Куделка – Разработка сайтов и веб-приложений{% endblock %}</title>

    <link href="https://plus.google.com/+VitalKudzelka" rel="author">
    <link href="mailto:vital.kudzelka@gmail.com" rel="me">
    <link href="tel:+375293358679" rel="me">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|Yanone+Kaffeesatz:700&subset=cyrillic" rel="stylesheet">

    {% assets "cssmain" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}
  </head>

  <body class="{% block bodyclass %}{% endblock %}">

    {% include 'b/header.html' %}

    <main role="main">
      {% block pagehead %}
      <header class="hero hero_p_s hero_align_l i-am-a-hero js-banner" role="banner">
        <div class="l-wrapper">
          <h1 class="hero__title" role="heading">
            Я <strong class="text text_theme_inherit">проектирую</strong>
            интерфейсы и <strong class="text text_theme_inherit">разрабатываю</strong>
            сайты, сервисы и <span class="text text_nowrap">веб-приложения</span>,
            которыми <strong class="text text_theme_inherit">удобно и приятно</strong>
            пользоваться.</h1>
        </div>
      </header>
      {% endblock %}

      {% block main %}Content goes here...{% endblock %}
    </main>

    <footer role="contentinfo">
      {% block contentinfo %}
        {% include 'b/contentinfo.html' %}
      {% endblock %}

      {% block copyrights %}
        {% include 'b/copyrights.html' %}
      {% endblock %}
    </footer>

    {% block jsmain %}
      {% if config.DEBUG -%}
      <script>document.write('<script src="//' + (location.host || 'localhost').split(':')[0] + ':1350/livereload.js"><\/script>')</script>
      {% endif %}

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

      <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

      {% assets "scripts" %}
        <script src="{{ ASSET_URL }}"></script>
      {% endassets %}
    {% endblock %}
  </body>
</html>
