// Flyout.


@flyout-namespace: flyout;


.@{flyout-namespace} {
    max-height: 0;
    opacity: 0;

    // Apply transition to flyout `max-height` and `opacity` properties.
    // Ensure the delay to `opacity` transition is equal to `max-height`
    // duration, e.g. text revealed only after flyout is appeared.
    transition: max-height .3s ease-in-out,
                opacity ease-in-out .3s;


    &.is-opened {
        max-height: 20em;
        opacity: 1;
    }


    @media @laptop-and-up {
        // Limit the container's width for better readability
        // on laptop and above.
        max-width: 70%;
    }
}
