// Marketing section.
//
// .s-marketing--rev - Align column title to the right and show dash before it.


@marketing-namespace: s-marketing;


.@{marketing-namespace} {

    &__title {
        .text--smaller;
        .header--branded;

        // Use single-direction margin.
        margin-bottom: @unit;

        // Mute text column.
        color: #d6d6d8;

        // Show dash after the column.
        &:after { content: ' –'; }
    }


    // Reverse column title direction.
    &--rev {
        .@{marketing-namespace}__title {
            text-align: right;

            &:after { display: none; }
            &:before { content: '– '; }
        }
    }
}
