// List of social media links.


.sm-list {

    &__item {
        // Stack list items on mobile.
        display: block;

        // Ensure the list items are shown at center of the viewport.
        margin-left: 0;

        // Ensure the gap between items on mobile exists.
        margin-bottom: @unit;


        &:last-child {
            // Remove margin after the last item to ensure the whole list is
            // properly aligned vertically.
            margin-bottom: 0;
        }
    }


    &__link {
        .text_theme_branded;

        margin-left: 1em;
        margin-right: 1em;
    }


    @media @laptop-and-up {
        &__item {
            // Show list items in a row.
            display: inline-block;
            margin-bottom: 0;
        }
    }
}
