// Text.


.text {}


.text--nowrap {
    white-space: nowrap !important;
}


.text--wrap {
    white-space: normal !important;
}


.text--branded {}


.text--small {
    font-size: @classy-small-font-size;
}


.text--smaller {
    font-size: .75em;
}
