<section class="hero hero_p_responsive">
  <div class="l-wrapper">
    <p><a href="{{ url_for('frontend.contact') }}"
          class="button text text_wrap" role="button">Я ищу проекты
          <span class="text text_nowrap">на 3–4 кварталы</span>
          <span class="text text_nowrap">2017 года</span></a></p>

    <p>Если у вас есть какие-либо вопросы или вы хотите обсудить детали
       сотрудничества, то <strong>свяжитесь со мной</strong> любым
       удобным способом.</p>

    {% include 'b/social-nav.html' %}
  </div>
</section>
