<nav>
  <ul class="nav sm-list">
    <li class="nav__item sm-list__item">
      <a class="nav__link sm-list__link link link_dir_ltr" href="https://plus.google.com/+VitalKudzelka" target="_blank">Google</a>+
    </li>

    <li class="nav__item sm-list__item">
      <a class="nav__link sm-list__link link link_dir_ltr" href="https://twitter.com/elephantscanfly" target="_blank">Twitter</a>
    </li>

    <li class="nav__item sm-list__item">
      <a class="nav__link sm-list__link link link_dir_ltr" href="https://github.com/vitalk" target="_blank">GitHub</a>
    </li>
  </ul>
</nav>
