// Typography.


.text--nowrap {
    white-space: nowrap !important;
}


.text--wrap {
    white-space: normal !important;
}


.text--branded {}


.text--small {
    font-size: @classy-small-font-size;
}


.text--smaller {
    font-size: .75em;
}


.header--branded {
    letter-spacing: .1875em;
    text-transform: uppercase;
}


.link--branded {
    letter-spacing: .0625em;
}


p {
    .text--branded;

    // Use single-direction margin.
    margin-bottom: @unit;
}


code {
    font-family: @classy-monospace-font-family;
}
